<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  
th:replace="/base::mainlayout(~{::section})">
<head>
<meta charset="ISO-8859-1">

</head>
<body >

<section>
<style>
.richText-btn .fa-video-camera ,.richText-help 
{
	display: none!important;
	visibility: hidden!important;
}
.richText .richText-toolbar ul li a .richText-dropdown-outer 
{
    z-index: 999!important;
}
</style>
 
		<div class="row p-2" >
        	
        	<div class="col-lg-12">
        		<div class="card  p-0 border-info" >
        		<h5 class="card-header text-white bg-info">Add New Contest Details</h5>
				  <div class="card-body p-2">
				    <form th:action="@{Save}" 
				    		method="post" 
				    		th:object="${contestBean}" 
				    		class="row">
				    	
				    	 <div class="col-lg-6">
						 	<div class="form-group row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">Select Category</label>
							    <div class="col-sm-9">
							     <select class="form-control" th:field="*{category_model}" required="required">
							      	<option value="0">Select Category</option>
							      	<option th:each="obj : ${category_list_obj}" th:value="${obj.id}" th:text="${obj.name}">Categoryname</option>
							      </select>
							    </div>
							  </div>
						</div>
						
		        		<div class="col-lg-6">
							  <div class="form-group row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">Contest Name</label>
							    <div class="col-sm-9">
							      <input type="text"  class="form-control" th:field="*{name}"  
							      placeholder="Enter name.." required="required">
							    </div>
							  </div>
						 </div>
						 
						
						
						 <div class="col-lg-6">
						 	<div class="form-group row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">Select Plan</label>
							    <div class="col-sm-9">
							    
							     <select class="form-control" th:field="*{plan_model}" required="required">
							      	<option value="0">Select Contest Plan</option>
							      	<option th:each="obj : ${planlist}" th:value="${obj.id}" th:text="${obj.name}">Contes Plan Name</option>
							     
							      </select>
							    </div>
							  </div>
						</div>
						
						
						<div class="col-lg-6">
						 	<div class="form-group row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">Contest Rule</label>
							    <div class="col-sm-9">
							    
							     <select class="form-control" th:field="*{rule_model}" required="required">
							      	<option value="0">Select Contest Rule</option>
							      	<option th:each="obj : ${rule_list}" th:value="${obj.id}" th:text="${obj.name}">Contest Plan Name</option>
							     
							      </select>
							    </div>
							  </div>
						</div>
						<div class="col-lg-12 ">
							<hr class="m-0 mb-1">
						</div>
						<div class="col-lg-4">
							  <div class="form-group row">
							    <label for="staticEmail" class="col-sm-3 col-form-label"> Date</label>
							    <div class="col-sm-9">
							      <input class="form-control" type="datetime-local" 
							      th:field="*{startDateTime}" 
							      id="startDateTime"
							      min="2017-06-01T08:30" max="2022-06-30T16:30">
							    </div>
							  </div>
						 </div> 
						 
						 <div class="col-lg-4">
						 	<div class="form-group row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">Total-time</label>
							    <div class="col-sm-9">
							     <select class="form-control" th:field="*{totaltime}">
							      	
							      	<option th:each="i : ${#numbers.sequence(1, 100)}" 
							      	th:value="${i*10}" th:text="${i*10+' Minutes'} "></option>
							      </select>
							    </div>
							  </div>
						</div>
						
						<div class="col-lg-4">
						 	<div class="form-group row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">Quiz-time</label>
							    <div class="col-sm-9">
							     <select class="form-control" th:field="*{quiztime}">
							      	<option th:each="i : ${#numbers.sequence(1, 9)}" 
							      	th:value="${i*10}" th:text="${i*10+' seconds'} "></option>
							      </select>
							    </div>
							  </div>
						</div>
						
						
						<div class="col-lg-12 ">
						<hr class="m-0">
							  <div class="form-group">
							    <label  class=" col-form-label">Contest Question</label>
							     <textarea class="form-control "  id="editor"
							     rows="2" placeholder="Enter Your Question.." th:field="*{question}">Enter Your Question..</textarea>
							  </div>
						</div>
						
						<div class="col-lg-6">
							  <div class="form-group row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">Option 1</label>
							    <div class="col-sm-9">
							      <input type="text"  class="form-control" th:field="*{option1}"  
							      placeholder="Enter option 1.." required="required">
							    </div>
							  </div>
						 </div>
						 
						 <div class="col-lg-6">
							  <div class="form-group row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">Option 2</label>
							    <div class="col-sm-9">
							      <input type="text"  class="form-control" th:field="*{option2}"  
							      placeholder="Enter option 2.." required="required">
							    </div>
							  </div>
						 </div>
						 
						 <div class="col-lg-6">
							  <div class="form-group row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">Option 3</label>
							    <div class="col-sm-9">
							      <input type="text"  class="form-control" th:field="*{option3}"  
							      placeholder="Enter option3.." required="required">
							    </div>
							  </div>
						 </div>
						 
						 
						 <div class="col-lg-6">
							  <div class="form-group row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">Option 4</label>
							    <div class="col-sm-9">
							      <input type="text"  class="form-control" th:field="*{option4}"  
							      placeholder="Enter option 4.." required="required">
							    </div>
							  </div>
						 </div>
						
						<div class="col-lg-6">
							  <div class="form-group row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">Answer is </label>
							    <div class="col-sm-9">
							      <input type="text"  class="form-control" th:field="*{answer}"  
							      placeholder="Enter answer.." required="required">
							    </div>
							  </div>
						 </div>
						
						<div class="col-lg-6">
							<div class="form-group row">
							    <div class="col-sm-9 offset-md-3">
							      <button type="submit" class="btn btn-primary btn-block">Save</button> 
							    </div>
							</div>
						</div>
					</form>
				  </div>
				</div>
        	
	        	
	        </div>
        
        </div>


<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Update Category Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       	<form th:action="@{Update}" method="post" th:object="${contestBean}" class="">
       		
  
		  <div class="form-group row">
		    <label for="staticEmail" class="col-sm-3 col-form-label">Name</label>
		    <div class="col-sm-9">
		      <input type="text"  class="form-control" id="contestName" th:field="*{name}" 
		      required="required">
		    </div>
		  </div>
	
		<div class="form-group row">
		    <label for="staticEmail" class="col-sm-3 col-form-label">Date Time</label>
		    <div class="col-sm-9">
		      <input class="form-control" type="datetime-local" 
		      th:field="*{startDateTime}" 
		      id="startDateTime1"
		      min="2017-06-01T08:30" max="2022-06-30T16:30">
		    </div>
		  </div>
	 		<div class="form-group row">
		    <label for="staticEmail" class="col-sm-3 col-form-label">Status</label>
		    <div class="col-sm-9">
		     <select class="form-control" th:field="*{isactive}" id="contestStatus">
		      	<option value="No">De-Active</option>
		      	<option value="Yes">Active</option>
		      </select>
		    </div>
		  </div>
		  
		  <input type="hidden" id="contestId" th:field="*{id}">
	
		<div class="form-group row">
		    <div class="col-md-9 offset-md-3">
		      <button type="submit" class="btn btn-primary btn-block">Save</button> 
		    </div>
		</div>
			
		</form>
      </div>
    </div>
  </div>
</div>

 
 
 
 
 
 <script type="text/javascript">


 
 function mindate()
 {

	 
 elem1 = document.getElementById("startDateTime1") ;
 elem = document.getElementById("startDateTime");
 var iso = new Date().toISOString();
 var minDate = iso.substring(0,16);
 elem.value = minDate
 elem.min = minDate
 
 elem1.value = minDate
 elem1.min = minDate
 }
 mindate();

 </script>
 
 
<script type="text/javascript">
$(document).ready(function () {
	
	/* https://www.jqueryscript.net/text/wysiwyg-editor-bootstrap.html */
   /*  document.getElementById("editor").innerHTML = "<h1>Paragraph changed!</h1>"; */
     $('#editor').wysiwyg({
	    highlight: true,
	    debug: false,
	    toolbar: [
	        ['operations', ['undo', 'rendo', 'cut', 'copy', 'paste']],
	        ['styles'],
	        ['fonts', ['select', 'size']],
	        ['text', ['bold', 'italic', 'underline', 'strike', 'subscript', 'superscript'/* , 'font-color', 'bg-color' */]],
	        ['align', ['left', 'center', 'right', 'justify']],
	        ['lists', ['unordered', 'ordered']],
	        ['components', ['table', /*'chart'*/]],
	        ['intervals', ['line-height', 'letter-spacing']],
	        ['insert', [/* 'emoji', 'symbol', */ /*'bookmark'*/]],
	        ['special', [/* 'unformat', 'visual', 'clean' */]],
	        /*['fullscreen'],*/
	      ],
		});
   
     
   
     
});
</script>
</section>

</body>
</html>