<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  
th:replace="./base::mainlayout(~{::section})">
<head>
<meta charset="ISO-8859-1">

</head>
<body >

<section>
<style>
.richText-btn .fa-video-camera ,.richText-help 
{
	display: none!important;
	visibility: hidden!important;
}
.richText .richText-toolbar ul li a .richText-dropdown-outer 
{
    z-index: 999!important;
}
</style>
 

        
		<div class="row p-2">
		    <div class="col-lg-12">
		      <div class="card p-0 border-info">
		      <h5 class="card-header text-white bg-info">Contest Data List
		      </h5>
		      <div class="card-body p-2">
		        <table class="table table-sm table-bordered m-0"  style="width:100%" id="tabledata">
		        	
		          <thead class="bg-warning">
		            <tr>
		              <th>sl</th>
		              <th>Name</th>
		              <th  style="min-width: 160px;">Question</th>
		              <th style="min-width: 90px;">Options 1</th>
		              <th style="min-width: 90px;">Options 2</th>
		              <th style="min-width: 90px;">Options 3</th>
		              <th style="min-width: 90px;">Options 4</th>
		              <th >Answer</th>
		               <th style="min-width: 90px;">Quiz Time</th>
		               <th style="min-width: 90px;">Total Time</th>
		               
		               <th style="min-width: 100px;">Pool Size</th>
		               <th style="min-width: 100px;">Pool Price</th>
		               <th style="min-width: 100px;">Entry Fees</th>
		               <th style="min-width: 70px;">Rank</th>
		               
		               <th style="min-width: 120px;">Contest Date</th>
		               
		              <th style="min-width: 90px;">Add By</th>
		              <th style="min-width: 120px;">Contest Status</th>
		              
		               <th style="min-width: 120px;">Status</th>
		              
	
		              
		              
		              <th style="min-width: 120px;">Action</th>
		            </tr>
		          </thead>
		          <tbody>
		          	
			        
			        <tr th:each="obj : ${list_obj}">
			            <th th:text="${obj.id}"> ID </th>
			            <td th:text="${obj.name}"> Name</td>
			            <td th:utext="${obj.question}"> Question</td>
			            <td  th:text="${obj.option1}">Option 1</td> 
			            <td  th:text="${obj.option2}">Option 2</td> 
			            <td  th:text="${obj.option3}">Option 3</td> 
			            <td  th:text="${obj.option4}">Option 4</td> 
			            <td  th:text="${obj.answer}">Answer</td> 
			            
			            <td  th:text="${obj.quiztime+' Seconds'}">Quiz Time</td> 
			            <td  th:text="${obj.totaltime+' Minutes'}">Quiz Time</td> 
			            
			            <td  th:text="${obj.plan_model.poolSize}">poolSize</td> 
			            <td  th:text="${obj.plan_model.poolPrice}">poolPrice</td> 
			            <td  th:text="${obj.plan_model.entryFee}">entry_fees</td> 
			            
			            <td th:utext="${#strings.replace(obj.plan_model.extra,'#','<br>')}"> Rank</td>
			            
			            <td th:text="${#temporals.format(obj.startDateTime, 'dd-MM-yyyy hh:mm:ss a')}"> Name</td>
			            
			            <td th:text="${obj.add_by_model.name}"> admin Name</td>
			            <td th:text="${obj.contestStatus}"> Contest Status</td>
			            
			             <td th:text="${obj.isactive}">Status</td>
			            
			            
			            <!-- <td th:text="${#dates.format(obj.createdAt, 'dd-MMM-yyyy HH:mm:ss a')}"> Name</td> -->
			           
			            <td>
	              				
	              			<a class="text-white btn btn-sm btn-warning px-2 py-1" 
	              				href="#" th:href="@{DeActive1(thisid=${obj.id})}"
	              				th:classappend="${obj.isactive=='No'} ? Active : demo"
	              				 title="De-Active"><i class="fa fa-close"></i></a> 
	              			
			            </td>
			        </tr>
		            <!-- <tr>
		              <th scope="row">1</th>
		              <td>Mark</td>
		              <td>Otto</td>
		              <td>@mdo</td>
		              <td>@mdo</td>
		            </tr> -->
		            
		          </tbody>
		        </table>
		      </div>
		    </div>
		    </div>
		  </div>
		  
		  
		  


 

 



	<script>
      
        
        $(document).ready(function() {
            $('#tabledata').DataTable({
            	scrollY:        '55vh',
            	"scrollX": true,
                scrollCollapse: true,
                paging:         true
            });
            
        } );
    </script>	
    
</section>

</body>
</html>