<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  
th:replace="./base::mainlayout(~{::section})">
<head>
<meta charset="ISO-8859-1">

</head>
<body>

<section>
<style>
.richText-btn .fa-video-camera ,.richText-help 
{
	display: none!important;
	visibility: hidden!important;
}
.richText .richText-toolbar ul li a .richText-dropdown-outer 
{
    z-index: 999!important;
}
</style>
 

        
		<div class="row p-2">
		    <div class="col-lg-12">
		      <div class="card p-0 border-info">
		      <h5 class="card-header text-white bg-info">Contest Data List
		      </h5>
		      <div class="card-body p-2">
		        <table class="table table-sm table-bordered m-0"  style="width:100%" id="tabledata">
		        	
		          <thead class="bg-warning">
		            <tr>
		              <th>sl</th>
		              <th  style="min-width: 160px;">Pool Name</th>
		               
		               <th style="min-width: 100px;">Pool Size</th>
		               <th style="min-width: 100px;">Pool Price</th>
		               <th style="min-width: 100px;">Entry Fees</th>
		               <th style="min-width: 70px;">Rank</th>
		               
		              <th style="min-width: 90px;">Add By</th>
		              
		               <th style="min-width: 120px;">Status</th>
		              
		              <th style="min-width: 120px;">Action</th>
		            </tr>
		          </thead>
		          <tbody>
		          
			        <tr th:each="obj : ${list_obj}">
			            <th th:text="${obj.id}"> ID </th>
			            <td th:text="${obj.name}"> Name</td>
			            
			            <td  th:text="${obj.poolSize}">poolSize</td> 
			            <td  th:text="${obj.poolPrice}">poolPrice</td> 
			            <td  th:text="${obj.entryFee}">entry_fees</td> 
			            
			            <td th:utext="${#strings.replace(obj.extra,'#','<br>')}"> Rank</td>
			            
			            
			            <td th:text="${obj.add_by_model.name}"> admin Name</td>
			            
			             <td th:text="${obj.isactive}">Status</td>
			            
			            <td>
			            
			            	<a class="text-white btn btn-sm btn-warning px-2 py-1" 
	              				href="#" th:href="@{Restore(thisid=${obj.id})}"
	              				 title="Restore"
	              				 onclick="if(!(confirm('Are you sure'))) return false"><i class="fa fa-upload"></i></a>	
	              				
			            	<a class="text-white btn btn-sm btn-danger px-2 py-1" 
	              				href="#" th:href="@{Delete(thisid=${obj.id})}"
	              				onclick="if(!(confirm('Are you sure, it will delete Permanently'))) return false"
	              				title="Permanently Delete"><i class="fa fa-trash"></i></a>
			            </td>
			        </tr>
		            <!-- <tr>
		              <th scope="row">1</th>
		              <td>Mark</td>
		              <td>Otto</td>
		              <td>@mdo</td>
		              <td>@mdo</td>
		            </tr> -->
		            
		          </tbody>
		        </table>
		      </div>
		    </div>
		    </div>
		  </div>
		  
		  
		  


 

 



	<script>
      
        
        $(document).ready(function() {
            $('#tabledata').DataTable({
            	scrollY:        '55vh',
            	"scrollX": true,
                scrollCollapse: true,
                paging:         true
            });
            
        } );
    </script>	
    
</section>

</body>
</html>