<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

    <!-- top navbar -->
       <!-- navbar start -->

	  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-secondary" th:fragment="header">
	    <div class="container-fluid">
	
	      <div id="sidebarCollapse" 
	        class=" px-2 mr-4">
	        <i class="fa fa-bars collapce_bar" style="font-size: 26px;
	      color: #FFF;"></i>
	      </div>
	
	   
	      <a class="navbar-brand" href="#">Quiz Maffia</a>
	       <button class="navbar-toggler" 
	        type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
	        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
	        >
	        <span class="navbar-toggler-icon" ></span>
	      </button>
	
	      <div class="collapse navbar-collapse justify-content-end"  id="navbarSupportedContent"> 
	      <!-- <div class="justify-content-end"> -->
	        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
	          <li class="nav-item">
	            <a class="nav-link active text-white btn btn-sm btn-danger px-2 py-1" 
	              href="#" th:href="@{/Logout}"><i class="fa fa-sign-out "></i> Logout</a>
	          </li>
	        </ul>
	      </div>
	
	    </div>
	  </nav>
	  <!-- navbar end -->
      <!-- top navbar -->
      
      
      
      
      
      
      
      
	
	<!-- sidebar -->
    	<div class="vertical-nav bg-white" id="sidebar" th:fragment="sidebar">
    		
		  <div class="py-2 px-3  bg-light">
		    <div class="media d-flex align-items-center">
		      <img loading="lazy" th:src="@{/image/user.png}" alt="Admin" width="80" height="80" class="mr-3 rounded-circle img-thumbnail shadow-sm">
		      <div class="media-body">
		        <h4 class="m-0">Quiz Maffia</h4>
		        <p class="font-weight-normal text-muted mb-0">Battle of knowledge</p>
		      </div>
		    </div>
		  </div>
		
		  <div class="sidebar_menu_div pt-3">
		    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>
		
		    <ul class="nav flex-column bg-white mb-0">
		      <li class="nav-item">
		        <a href="#" th:href="@{/Admin/Dash/}" class="nav-link active">
		          <i class="fa fa-th-large fa-fw"></i>
		            home
		         </a>
		      </li>
		      
              <li class="nav-item ">
		        <a href="#category_sub_menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link text-dark">
		        <i class="fa fa-object-group mr-3 text-primary fa-fw"></i> Category</a>
		        <ul class="collapse list-unstyled" id="category_sub_menu">
		            <a href="#" th:href="@{/Admin/Category/Manage}">
		              <li>
		                <i class="fa fa-angle-double-right"></i>Manage Category
		              </li>
		            </a>
		            
		            <a href="#" th:href="@{/Admin/Category/ActiveList}">
		              <li>
		                <i class="fa fa-angle-double-right"></i>isActive
		              </li>
		            </a>
		            
		            <a href="#" th:href="@{/Admin/Category/DeActiveList}">
		              <li>
		                <i class="fa fa-angle-double-right"></i>isDeActive
		              </li>
		            </a>
		            
		            <a href="#" th:href="@{/Admin/Category/isDeleteList}">
		              <li>
		                <i class="fa fa-angle-double-right"></i>isDelete
		              </li>
		            </a>
		        </ul>
		      </li>
		      
		      
		      <li class="nav-item ">
		        <a href="#quiz_sub_menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link text-dark">
		        <i class="fa fa-book mr-3 text-primary fa-fw"></i> Contest Pool</a>
		        <ul class="collapse list-unstyled" id="quiz_sub_menu">
		            <a href="#" th:href="@{/Admin/Contest/Pool/New}">
		              <li>
		                <i class="fa fa-angle-double-right"></i>Add New Pool
		              </li>
		            </a>
		            
		            <a href="#" th:href="@{/Admin/Contest/Pool/Manage}">
		              <li >
		                <i class="fa fa-angle-double-right"></i>Manage
		              </li>
		            </a>
		            
		            <a href="#" th:href="@{/Admin/Contest/Pool/ActiveList}">
		              <li >
		                <i class="fa fa-angle-double-right"></i>Active List
		              </li>
		            </a>
		            
		             <a href="#" th:href="@{/Admin/Contest/Pool/DeActiveList}">
		              <li >
		                <i class="fa fa-angle-double-right"></i>DeActive List
		              </li>
		            </a>   
		            
		             <a href="#" th:href="@{/Admin/Contest/Pool/isDeleteList}">
		              <li >
		                <i class="fa fa-angle-double-right"></i>Deleted List
		              </li>
		            </a>
 
		        </ul>
		      </li>
		      
		       <li class="nav-item ">
		        <a href="#quiz_sub_menu1" data-toggle="collapse" 
		        aria-expanded="false" class="dropdown-toggle nav-link text-dark">
		        <i class="fa fa-book mr-3 text-primary fa-fw"></i> Contest</a>
		        <ul class="collapse list-unstyled" id="quiz_sub_menu1">
		            <a href="#" th:href="@{/Admin/Contest/New}">
		              <li>
		                <i class="fa fa-angle-double-right"></i>Add New
		              </li>
		            </a>
		            <a href="#" th:href="@{/Admin/Contest/Manage}">
		              <li >
		                <i class="fa fa-angle-double-right"></i>Manage Contest
		              </li>
		            </a>
		            <a href="#" th:href="@{/Admin/Contest/ActiveList}">
		              <li >
		                <i class="fa fa-angle-double-right"></i>Active Contest List
		              </li>
		            </a>
		            <a href="#" th:href="@{/Admin/Contest/DeActiveList}">
		              <li >
		                <i class="fa fa-angle-double-right"></i>De-Active Contest List
		              </li>
		            </a>
		            
		             <a href="#" th:href="@{/Admin/Contest/isDeleteList}">
		              <li >
		                <i class="fa fa-angle-double-right"></i>Deleted Contest List
		              </li>
		            </a>
		            
		            
		            
		            
		            <a href="#" th:href="@{/Admin/Contest/Rules}">
		              <li>
		                <i class="fa fa-angle-double-right"></i>Contest Rules
		              </li>
		            </a>
		        </ul>
		      </li>
		    </ul>
		
		    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">User</p>
		
		    <ul class="nav flex-column bg-white mb-0">
		      <li class="nav-item">
		        <a href="#" class="nav-link">
		            <i class="fa fa-area-chart fa-fw"></i>
		            area charts
		        </a>
		      </li>
		    
		      <li class="nav-item">
		        <a href="#" class="nav-link text-dark">
		            <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
		            line charts
		        </a>
		      </li>
		    </ul>
		  </div>
		</div>
      <!-- sidebar -->  
      
      
      
      
      
      
      
      
      
	
	
	<div th:fragment="mainbody">
		this is mainbody div
	</div>

</body>
</html>