:root {
  --blue: #1e90ff;
  --white: #ffffff;


  --text-primary:#7579e7;
  --primary:#007bff;
  --dark:#343a40;
}




body {
	background: #f3f4f6;
	/*//background: url(image/bg-body.png);*/
 	min-height: 100vh;
  	overflow-x: hidden;
}

.vertical-nav 
 {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;

}
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
} 

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}



@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}




/*sidebar start here*/


.collapce_bar
{
  cursor: pointer;
  transition: width 2s;
}

.collapce_bar:hover
{
  font-size: 30px!important;
}

.sidebar_menu_div
{
	overflow-y: scroll;
	height: 80vh;

}

.sidebar_menu_div::-webkit-scrollbar {
    width: 8px;
    background: #f8f9fa;
}

.sidebar_menu_div::-webkit-scrollbar-thumb {
    background-color:#989898;
	border-radius:10px;
}

::-webkit-scrollbar {
    width: 4px;
     height: 4px;  
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: rgba(192,192,192,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}


.sidebar_menu_div .nav-link:hover{
    background:#f3f2f2;
}

.sidebar_menu_div .nav-link
{
 	text-transform: capitalize;
 	color:var(--text-primary);
 	color: var(--dark);
}
.sidebar_menu_div .nav-link i
{
	margin-left: 5px;
	margin-right: 10px;
	color: var(--primary);
}

.sidebar_menu_div .nav-item .active
{
    background:#f3f2f2;
}








.dropdown-toggle::after {
    float:right;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    font-size: 20px;
    margin-top: 10px;
    color: gray;
}


.nav-item ul li
{
  background: #F8F8FF;
  padding-left: 35px;

  padding: .5rem 2rem;

  margin-top: 2px;
    
}

.nav-item ul  a li
{
  text-transform: capitalize;
  color:var(--text-primary);
  color: var(--dark);
  min-width: 100%!important;
}

.nav-item ul a:hover
{
  text-decoration: none;
}

.nav-item ul  a i
{
    margin-left: 15px;
    margin-right: 10px;
    color: var(--primary);
}




/*sidebar end here*/

  






 /* dashbord*/




.main__title {
  display: flex;
}

.main__title > img {
  max-height: 80px;
  object-fit: contain;
  margin-right: 20px;
}

.main__greeting > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.main__greeting > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
  margin-bottom: 0px!important;
}






.clock {
   
    transform: translateX(-50%) translateY(-50%);
     font-size: 14px;
  font-weight: 700;
color: #a5aaad;
    
margin-top: 0px!important;
   }


.counter{
    color: #f27f21;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 160px;
    width: 225px;
    padding: 30px 25px 25px;
    margin: 0 auto;
    border: 3px solid #f27f21;
    border-radius: 20px 20px;
    position: relative;
    z-index: 1;
}
.counter:before,
.counter:after{
    content: "";
    background: #f3f3f3;
    border-radius: 20px;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 15px;
    right: 15px;
    z-index: -1;
}
.counter:after{
    background: transparent;
    width: 100px;
    height: 100px;
    border: 15px solid #f27f21;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 20px;
    box-shadow: none;
    top: auto;
    left: -10px;
    bottom: -10px;
    right: auto;
}
.counter .counter-icon{
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-icon{ transform: rotateY(360deg); }
.counter .counter-value{
    color: #555;
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 15px;
    display: block;
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-value{ text-shadow: 2px 2px 0 #d1d8e0; }
.counter h3{
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 15px;
}






.counter.blue{
    color: #4accdb;
    border-color: #4accdb;
}
.counter.blue:after{
    border-bottom-color: #4accdb;
    border-left-color: #4accdb;
}



.counter.pink {
    color: #EE436D;
    border-color: #EE436D;
}


.counter.pink:after {
    border-bottom-color: #EE436D;
    border-left-color: #EE436D;
}

.counter.purple{
    color: #BE2A8D;
    border-color: #BE2A8D;
}
.counter.purple:after{
    border-bottom-color: #BE2A8D;
    border-left-color: #BE2A8D;
}


@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}







/*dashbord end here*/



.richText-btn .fa-video-camera ,.richText-help 
{
	display: none!important;
	visibility: hidden!important;
}
.richText .richText-toolbar ul li a .richText-dropdown-outer 
{
    z-index: 999!important;
}




.hide
{
	display: none!important;
}







.btn-default {
    color: #333!important;
    background-color: #fff!important;
    border-color: #ccc!important;
}

#editor .dropdown-menu 
{
	background: #fff!important;
}


#toolbarGroup-fonts ul li a
{
	color: #111111!important;
	text-decoration: none;
}

#toolbarGroup-fonts ul 
{
	padding: 10px;
}
